# .NET build outputs
bin/
obj/

# AWS SAM build output
.aws-sam/

# VS Code and Rider settings
.vscode/
.idea/

# User-specific files
*.user
*.suo

# Local secrets and configs
*.local
*.env

# npm/node modules and logs
node_modules/
npm-debug.log
yarn-error.log

# Angular build outputs
dist/
tmp/
out-tsc/

# Angular CLI cache
.angular/cache/

# Miscellaneous
.DS_Store
Thumbs.db
infra/.terraform/providers/registry.terraform.io/hashicorp/aws/6.4.0/darwin_arm64/LICENSE.txt
infra/.terraform/providers/registry.terraform.io/hashicorp/aws/6.4.0/darwin_arm64/outputs.tf
infra/.terraform/providers/registry.terraform.io/hashicorp/aws/6.4.0/darwin_arm64/terraform-provider-aws_v6.4.0_x5
